baseURL = 'https://example.org/'
languageCode = 'en-us'
theme = "PaperMod"

[taxonomies]
  category = "categories"
  tag = "tags"

[[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 1


[[menu.main]]
    name = "Categories"
    url = "/categories/"
    weight = 2




