# GitHub Action to build and deploy Hugo to GitHub Pages
name: deploy

on:
  push:
    branches:
        - main  # Runs every time you push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
              submodules: recursive # Fetches your theme

        - name: Setup Hugo
          uses: peaceiris/actions-hugo@v3
          with:
              hugo-version: 'latest'
              extended: true # Essential for themes using SCSS/SASS

        - name: Build
          run: hugo --minify

        - name: Deploy
          uses: peaceiris/actions-gh-pages@v4
          with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./public